@use "sass:color";

$gs-green: #3B755F;
$gs-stroke-green: #AFC6BD; // Seems to be #3B755F with 41.12% opacity when on a white background
$gs-stroke-light: #F2EBDB;

$gs-tooltip-bg: #FFF;

$gs-shade-21: #212121;
$gs-shade-F9: #F9F9F9;
$gs-shade-B0: #B0B0B0;

$gs-widget-beige: #F2EBDB;
$gs-widget-black: #212121;
$gs-widget-blue: #2E3A8C;
$gs-widget-green: #3B755F;
$gs-widget-white: #FFFFFF;
